---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
    <div class="bg-zenfi-taupe w-full py-3 px-5">
        <a href="/auth" class="font-bold">
            LOGIN
        </a>
    </div>
</div>
