---
import Layout from "./Layout.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
  title?: string;
}

const { title = "Zenfi" } = Astro.props;
---

<Layout title={title}>
  <div class="flex bg-zenfi-cream">
    <Navbar />

    <main
      id="main-content"
      class="flex-1 min-h-screen  transition-all duration-300 md:ml-64 p-4 pt-20 md:pt-8"
    >
      <slot />
    </main>
  </div>
</Layout>

<style>
  @reference "../styles/global.css";

  /* Optional: If sidebar is collapsed via script, we might need to adjust margin */
  :global(.sidebar-collapsed) + #main-content {
    @apply md:ml-20;
  }
</style>
